body {
	font-family: sans-serif,verdana,Helvetica;
}

a {
	text-decoration: none;
}

noscript {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 1;
}

div.error {
	padding: 0.2em 1em;
	color: white;
	background-color: #bd0000;
	font-weight: bold;
}

#sub-apps-menu {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

#sub-apps-menu ul.apps {
	display: none;
	width: 150px;
	padding: 5px 0 5px 0;
	margin: 0;
	list-style: none;
	background-color: black;
}

#sub-apps-menu ul.apps > li {
	margin-left: 40px;
	padding: 5px 0 5px 0;
}

#sub-apps-menu ul.apps > li > a {
	color: white;
	font-weight: bold;
}

#sub-apps-menu div.bottom {
	width: 150px;
	height: 150px;
	background-image: url('/images/sub_apps_menu/bottom.png');
}

#sub-apps-menu div.bottom > p.title {
	margin: 0 0 0 40px;
	color: white;
	font-weight: bold;
}

#app-menu {
	position: absolute;
	top: 100px;
	left: 200px;
	width: 800px;
	height: 150px;
	z-index: -1;
}

#app-menu div.left {
	float: left;
	width: 50px;
	height: 150px;
	background-image: url('/images/app_menu/left.png');
}

#app-menu div.links {
	float: left;
	width: 700px;
	height: 150px;
	background-color: black;
}

#app-menu div.right {
	float: left;
	width: 50px;
	height: 150px;
	background-image: url('/images/app_menu/right.png');
}

#app-menu div.links a {
	color: white;
	margin: 10px;
	font-weight: bold;
}

#page {
	margin: 150px 150px 0 150px;
	padding: 20px;
}

#content {
	padding: 1em;
	background-color: white;
	border: 10px solid #dadada;
}
